<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
  </connectionStrings>
  <appSettings>
    <add key="Mongo.Connection.String" value="" />
    <add key="Mongo.Database" value="" />
    <add key="Mongo.Collection" value="" />
    <add key="Alert.Collection" value="" />
    <add key="Dropbox.Access.Token" value="" />
    <add key="Dropbox.File.Path" value="" />
    <add key="Data.Source.Default" value="2" />
    <add key="Data.Source.Switchable" value="1" />
    <add key="Data.Model.Auto" value="true" />
    <add key="Secret.Key" value="" />
    <add key="Norm.Min" value="70" />
    <add key="Norm.Max" value="155" />
    <add key="Alert.Hipo" value="60" />
    <add key="Alert.Hiper" value="250" />
    <add key="Time.Zone" value="Central European Standard Time" />
    <add key="Monitor.Audio.Alert" value="1" />
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <staticContent>
      <mimeMap fileExtension=".woff" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
    <rewrite>
      <rules>
        <clear />
        <rule name="Redirect to https" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
